
  
  <div class="center">      
  <div class="_style_VRmHw" >
    <div class="_style_1fRwDe" >
      <div style="padding-top:44px;padding-bottom:44px;" class="_style_EFOZ6">
        <div>
          <h1 class="nmrmb" >NMRMB</h1>
          <h1 class="txtImpressive" >Viaja en tu bici,</h1>
          <p class="txtNotImpressive" >Sin miedo.</p>
        </div>
      </div>
    </div>
  </div>
  </div>   
  
  
  <div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1 style="text-align:left">Ahora podrás reportar<br/>
					 tu bici perdida.</h1>
					<form class="form-inline" role="form">
					  <div class="form-group">
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingresa tu email">
					  </div>
					  <button type="submit" class="btn btn-warning btn-lg">Enviar email!</button>
					</form>					
				</div><!-- /col-lg-6 -->
				
				<div class="col-lg-6">
					<%= image_tag("ipadhand.png") %>
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	<div class="row mt centered">
			<div class="col-lg-4">
			  <div class="center">
				  <%= image_tag("ser01.png", size: "100") %>
				</div>
				<h4 class="info">Viaja con seguridad</h4>
				<p class="par">
				  Antes de tomar una ruta puedes revisar si pasa por
				  lugares peligrosos. <br>
				  Analiza las estadisticas relacionadas con tu ruta
				  para planear mejor el viaje.
				</p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
			  <div class="center">
					<%= image_tag("ser02.png", size: "100") %>
					</div>
				<h4 class="info">Reporta hurtos o actividad sospechosa</h4>
				<p class="par">
				  Puedes reportar al instante actividad sospechosa. <br>
				  Esta pequeña acción puede alertar a otros biciusuarios.
				</p>

			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
			  	<div class="center">
				    <%= image_tag("ser03.png", size: "100") %>
					</div>
				<h4 class="info">Ayuda a otros a recuperar sus pertenencias</h4>
					<p class="par">
				  Sí tienes información sobre el paradero de un objeto hurtado 
				  puedes informar al biciusuario que realizó el reporte.
				</p>

			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	
  
 <!-- 
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
      
      
         
            
            -->
            
           
            